<div class="arhiv">
	<div class="arhiv-title">Arhiv:</div>
	<ul>
		<li><a href="blog-od-ideje-do-izvedbe">4. 12. 2014: Od ideje do izvedbe...</a></li>
		<li><a href="blog-delo-z-ljudmi-je-uzitek">16. 12. 2014: Delo z ljudmi je užitek!</a></li>
		<li><a href="blog-spodbujajmo-in-podpirajmo-proaktivnost-samoiniciativnost-in-motiviranost">22. 12. 2014: Spodbujajmo in podpirajmo proaktivnost, samoiniciativnost in motiviranost</a></li>
		<li><a href="blog-implico-zirafa-si-bozicno-kapo-na-glavo-povezne">30. 12. 2014: Implico žirafa si božično kapo na glavo povezne</a></li>
		<li><a href="blog-kako-oblikovati-tim">5. 1. 2015: Kako oblikovati tim?</a></li>
	</ul>
</div>