<footer class="footer">
	<div class="container">
		<div class="row cta">
			<div class="col-sm-6 col-md-4">
				<b>
				<a href="mailto:info@implico.si">Kontakt</a> <span>|</span> <a href="">Naroči se na newsletter</a>
				</b>
			</div>
			<div class="col-sm-6 col-md-8 hidden-xs">
				<b>Organizator</b>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<a href="https://www.facebook.com/implico.si"><img src="img/footer-fb-icon.png" class="fb"></a>
				<a href="mailto:info@implico.si"><img src="img/footer-mail-icon.png" class="mail"></a>

				<div class="title">Stopite v stik</div>
				<div class="txt">Povpraševanje, informacije, pohvale, pritožbe, računi, kotizacije, reklamacije, sponzorstvo, sodelovanje?</div>
			</div>
			<div class="col-sm-6 col-md-8 hidden-xs">
				<table>
					<tr>
						<td><a href="http://www.meks.si/"><img src="img/meks-logo.png"></a></td>
						<td><a href="http://www.skz.si/"><img src="img/skz-logo.png"></a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</footer>