<div class="header">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img src="img/implico-logo.png" alt="Implico logo">
				</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="govorci">Govorci</a></li>
					<li><a href="dogodek">Dogodek</a></li>
					<li><a href="program">Program</a></li>
					<li><a href="blog-ali-sodelavec-joze-ve-zakaj-je-njegovo-podjetje-najboljse">Blog</a></li>
					<li><a href="kdo-smo">Kdo smo</a></li>
					<li><a href="partnerji">Partnerji</a></li>
					<li><a href="prijava" class="prijava">Prijavi se</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>