<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
	<form action="//implico.us9.list-manage.com/subscribe/post?u=ab90d106f49533415f3c61d11&amp;id=bb56f8aa60" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    	<div id="mc_embed_signup_scroll">
			
			<div class="row">
				<div class="col-md-6">
					<div class="mc-field-group">
						<label for="mce-FNAME">Ime </label>
						<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
					</div>
				</div>
				<div class="col-md-6">
					<div class="mc-field-group">
						<label for="mce-LNAME">Priimek </label>
						<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="mc-field-group">
						<label for="mce-EMAIL">Email <span class="asterisk">*</span></label>
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
					</div>
				</div>
			</div>
			
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			
			<div style="position: absolute; left: -5000px;"><input type="text" name="b_ab90d106f49533415f3c61d11_bb56f8aa60" tabindex="-1" value=""></div>

			<div class="row">
				<div class="col-md-12">
					<div class="clearfix"><input type="submit" value="Naroči se" name="subscribe" id="mc-embedded-subscribe" class="button btn pull-right"></div>
				</div>
			</div>

    	</div>
	</form>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text'; /*
 * Translated default messages for the $ validation plugin.
 * Language: SL
 */
$.extend($.validator.messages, {
	required: "To polje je obvezno.",
	remote: "Prosimo popravite to polje.",
	email: "Prosimo vnesite veljaven email naslov.",
	url: "Prosimo vnesite veljaven URL naslov.",
	date: "Prosimo vnesite veljaven datum.",
	dateISO: "Prosimo vnesite veljaven ISO datum.",
	number: "Prosimo vnesite veljavno število.",
	digits: "Prosimo vnesite samo števila.",
	creditcard: "Prosimo vnesite veljavno številko kreditne kartice.",
	equalTo: "Prosimo ponovno vnesite vrednost.",
	accept: "Prosimo vnesite vrednost z veljavno končnico.",
	maxlength: $.validator.format("Prosimo vnesite največ {0} znakov."),
	minlength: $.validator.format("Prosimo vnesite najmanj {0} znakov."),
	rangelength: $.validator.format("Prosimo vnesite najmanj {0} in največ {1} znakov."),
	range: $.validator.format("Prosimo vnesite vrednost med {0} in {1}."),
	max: $.validator.format("Prosimo vnesite vrednost manjše ali enako {0}."),
	min: $.validator.format("Prosimo vnesite vrednost večje ali enako {0}.")
});}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup -->